<template>
  <div class="mostcomments">
    <h1>Am meisten kommentierte Jodl:</h1>
      <div class="jodl" v-for="jodl in jodls" v-bind:key="jodl">
        <h2> {{jodl.text}} </h2>
        <div v-for="commentID in jodl.comments" v-bind:key="commentID">
          <span class="details">
            User: 
            {{users[comments[commentID].userID].name}}
          </span><br/>
          <span class="details">
            Comments: <br/>
            {{comments[commentID].text}}
          </span>
          <span><br/>
            Likes: 
            {{jodl.likes}}
              <button> downvote </button>
              <button> upvote </button>
          </span>
        </div>
    </div>
  </div>
</template>


<script>
export default {
  name: "mostcomments",
  components: {

  },
  data () {
    return {
      comments: this.$store.state.comments,
      users: this.$store.state.users,
    }
  },
  computed: {
    jodls () {
      return this.$store.state.jodls
    }
  }
};
</script>

<style scoped>
  .jodl {
    border: 1px solid rgb(34, 34, 34);
    border-radius: 10px;
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.596); 
    color: white;
    position: relative;
  }
  span {
    color: white;
    font-size: 15px;
    text-align: left;
    padding-top: auto;
    font-weight: normal;
    justify-content: left;
    align-items: left;
  }
</style>