<template>
    <div>
        <br/>
        <form @submit.prevent="addJodl" >
            <div class="form-group shadow-textarea">
                <textarea 
                    class="form-control z-depth-1" 
                    id="exampleFormControlTextarea6" 
                    rows="5" 
                    cols="30" 
                    placeholder="Write something here..."
                    v-model="newJodl"
                ></textarea> 
            </div>
            <div class="form-actions">
                <button class="btn-blue">+ Neuer Jodl +</button>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    data () {
        return {
            //comments: this.$store.state.comments,
            //users: this.$store.state.users,
            newJodl: ''
        }
    },
    methods: {
        addJodl () {
            const jodlID = Math.random()
            const jodl = {
                text:this.newJodl,
                published: Math.floor(Date.now() / 1000),
                userID: "u1dasdad",
                '.key': jodlID
            }
            //this.$set(this.$store.state.jodl, jodlID, jodl)
            //this.$set(this.$store.state.users[jodl.userID].jodls, jodlID, jodlID)
            //this.newJodl=''

            //Experimentel
            /* eslint-disable no-alert, no-console */
            this.$store.commit('increment')
            console.log(this.$store.state.count) // -> 1

            this.$store.commit('addNewJodl', this.$store.state.jodl, jodlID, jodl)
            /* eslint-enable no-alert, no-console */


        }
    }
};
</script>

<style>
.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}
</style>