<template>
  <div class="post">
    Dies ist ein Dummy-Post

    Hier wird später etwas richiges stehen
  </div>
</template>

<script>

</script>

<style scoped>
  .post {
    border: 1px solid rgb(34, 34, 34);
    border-radius: 5px;
    width: 30%;
  height: 100px;
  max-width: 350px;
  margin: 0 auto;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  }
</style>
