<template>
    <div id="nav">
      <router-link to="/Newest">Brandneu</router-link> |
      <router-link to="/MostLiked">Meist gemocht</router-link> |
      <router-link to="/MostComments">Diskussion</router-link>
    </div>
</template>

<script>
export default {
  
}
</script>

<style coped>

</style>