.jodl {
    border: 1px solid rgb(34, 34, 34);
    border-radius: 10px;
    width: 30%;
  height: 100px;
  max-width: 350px;
  margin:  auto;
  margin-top: 10px;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.596); 
  color: white;
}