<template>
  <div id="app">
    <div class="head"> 
      <p>Welcome to The Jodl Club!</p>
      </div>
    <TheNavbar/>
    <router-view />
      <div class="newOne">
        <AddPost/>
      </div>
  </div>
</template>

<script>
import AddPost from "@/components/AddPost";
import TheNavbar from "@/components/TheNavbar"
export default {
  name: "app",
   components: {
      AddPost,
      TheNavbar
  },
}
</script>

<style>
.head {
  width: 30%;
  height: 100px;
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 40px;
  padding-top: 20px;
  font-weight: bold;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  background-clip: text;
  /* With compatibiliy problems: 
  use "-webkit-background-clip: text" 
  (Safari webkit)*/
  -webkit-text-fill-color: transparent;
  max-width: 350px;
  text-transform: uppercase;
  line-height: .77;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Exo", sans-serif;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container {
  width: 100%;
  position: absolute;
  top: 35%;
  text-align: center;
}
h1 {
  font-weight: 300;
}
h3 {
  color: #eee;
  font-weight: 100;
}
h5 {
  color:#eee;
  font-weight:300;
}
a,
a:hover {
  text-decoration: none;
  color: #ddd;
}
</style>